.about-container {
  height: 100vh;
  width: 100%;
  background: url("../assets/about-bg.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.about-button {
  background: linear-gradient(45deg, #f08354, #000000);
  color: white;
  border: none;
  padding: 14px 36px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 0 4px 15px rgba(233, 239, 121, 0.6);
  transition: background 0.4s ease, box-shadow 0.3s ease, transform 0.2s ease;
  letter-spacing: 1px;
}

.about-button:hover {
  background: linear-gradient(45deg, #a87f46, #be8b4b);
  box-shadow: 0 8px 25px rgba(240, 138, 0, 0.8);
  transform: scale(1.05);
  color: white;
}
